header.header#header
	.container
		.header-content
			h1  #[span Онлайн курс:] #[span Как успешно вывести свой бизнес в Китай.]  #[span Валютная выручка + Рынок размером 1.4 миллиарда человек!]
			.small-container
				.video
					iframe(width="100%" height="100%" src="https://www.youtube.com/embed/0562HOXwDvU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
					.logo-img-desk
						img(src="img/logo.webp", alt="logo")
				
	
			.header-slogan
				.col-50.col-50--border
					.logo-img-mob
						img(src="img/logo.webp", alt="logo")
					.col-50--text
						p Скидка  #[span 50%]
						p Старт 18&nbsp;мая&nbsp;2020

				.col-50.col-50--btn
					button.red-button узнать больше
		