section.feedback#feedback
	.container
		h2.section-title Хотите получить бесплатную консультацию и 50% скидки на курс?
		.feedback-content
			.row
				.col-md-7
					.feedback-form
						form(action="")#contact-form
							p Запишитесь прямо сейчас
							.form-row
								input(type="text" name="userName" placeholder="Имя")
							.form-row
								input(type="text" name="whatsApp" placeholder="WhatsApp" class="phone")
							.form-row
								input(type="email" name="email" placeholder="E-mail")
								
							.form-row.form-row-message
								textarea(type="text" name="message" rows="2" placeholder="Сообщение")
							.form-btn
								input(type="submit" value="Отправить")
						#answer2
							
				.col-md-5
					.feedback-curator
						.curator-img
							img(class="lazy" data-src="img/curator.jpg", alt="OlgaFilatova")
							.img-title 
								p Ольга
								p Куратор курса
						.curator-contacts
							p
								a(href="mailto:olga@hkbusinessschool.com")
									i.fas.fa-envelope-open-text
									span.contact-val olga@hkbusinessschool.com

							p
								a(href="https://www.facebook.com/techblonde" target="_blank")
									i.fab.fa-facebook-square
									span.contact-val facebook
									