section.feedback
	.container
		h2.section-title Хотите получить бесплатную консультацию и 65% скидки на курс?
		.feedback-content
			.row
				.col-md-7
					.feedback-form
						form(action="")#contact-form
							p Запишитесь прямо сейчас
							.form-row
								input(type="text" name="userName" placeholder="Имя")
							.form-row
								input(type="text" name="whatsApp" placeholder="WhatsApp")
							.form-row
								input(type="email" name="email" placeholder="E-mail")
							.form-row
								textarea(type="text" name="message" placeholder="Сообщение")
							
				.col-md-5
					.feedback-curator
						.curator-img
							img(src="img/curator.webp", alt="OlgaFilatova")
							.img-title 
								p Ольга
								p Куратор курса
				