section.feedback
	.container
		h2.section-title Хотите получить бесплатную консультацию и 65% скидки на курс?
		.feedback-content
			.row
				.col-md-7
					.feedback-form
						form(action="")#contact-form
							p Запишитесь прямо сейчас
							.form-row
								input(type="text" name="userName" placeholder="Имя")
							.form-row
								input(type="text" name="whatsApp" placeholder="WhatsApp")
							.form-row
								input(type="email" name="email" placeholder="E-mail")
								
							.form-row.form-row-message
								textarea(type="text" name="message" rows="2" placeholder="Сообщение")
							.form-btn
								input(type="submit" value="Отправить")
							
				.col-md-5
					.feedback-curator
						.curator-img
							img(src="img/curator.webp", alt="OlgaFilatova")
							.img-title 
								p Ольга
								p Куратор курса
						.curator-contacts
							p
								a(href="mailto:olga@hkbusinessschool.com")
									i.fas.fa-envelope-open-text
									span.contact-val olga@hkbusinessschool.com

							p
								a(href="mailto:olga@hkbusinessschool.com")
									i.fab.fa-facebook-square
									span.contact-val facebook
									