section.for-whom
	.container
		.for-whom-content
			h2.section-title Для кого будет полезен курс?
			.grid-block
				.grid-column
					.grid-item.grid-item--top
						.grid-item__col
							.grid-item-img
								img(src="img/photo1.webp", alt="photo")
						.grid-item__col
							.grid-item-text
								h3 Владельцам бизнеса
								p Вы хотите расширить рынок для своей компании и справедливо смотрите в сторону Китая. В курсы Вы узнаете все нюансы регистрации бизнеса, "упаковки" и ведения эффективных переговоров.
					.grid-item.grid-item--bottom
						.grid-item__col
							.grid-item-text
								h3 Инноваторам
								p Многие знают, что в Китае ежегодно раздают несколько сотен грантов и всячески поддерживают инновационный бизнес. В рамках курса Вы узнаете, стоит ли пробовать свои силы и примете решение: Долина или все же Китай.
						.grid-item__col
							.grid-item-img
								img(src="img/photo3.webp", alt="photo")
					
				.grid-column
					.grid-item.grid-item--top
						.grid-item__col
							.grid-item-img
								img(src="img/photo2.webp", alt="photo")
						.grid-item__col
							.grid-item-text
								h3 Амбициозным специалистам
								p Хотите уехать в Китай и применить свои навыки там? Сначала изучите нюансы бизнеса в этой стране с помощью нашего курса и более успешно стройте свою карьерную стратегию.
					
					.grid-item.grid-item--bottom
						.grid-item__col
							.grid-item-text
								h3 Ответственным менеджерам
								p.lh-12 Ваша компания уже приняла решение выходит на рынок Китая, но как это сделать пока никто в Вшей команде не знает? В рамках курса у вас все встанет на свои места и вы сможете создать эффективную стратегию выхода на новый неизведанный рынок.
						.grid-item__col
							.grid-item-img
								img(src="img/photo4.webp", alt="photo")




					
				//- 			img(src="img/photo2.webp", alt="photo")
				//- 	.card-col.card-col--text
				//- 			h3 Амбициозным специалистам
				//- 			p Хотите уехать в Китай и применить свои навыки там? Сначала изучите нюансы бизнеса в этой стране с помощью нашего курса и более успешно стройте свою карьерную стратегию.
				//- .for-whom-card.card-col--reverse
				//- 	.card-col.card-col--text
				//- 			h3 Инноваторам
				//- 			p Многие знают, что в Китае ежегодно раздают несколько сотен грантов и всячески поддерживают инновационный бизнес. В рамках курса Вы узнаете, стоит ли пробовать свои силы и примете решение: Долина или все же Китай.
				//- 	.card-col.card-col--pic
				//- 		.card-img
				//- 			img(src="img/photo3.webp", alt="photo")
				//- .for-whom-card.card-col--reverse.card-tb-img
				//- 	.card-col.card-col--text
				//- 			h3 Ответственным менеджерам
				//- 			p.lh-12 Ваша компания уже приняла решение выходит на рынок Китая, но как это сделать пока никто в Вшей команде не знает? В рамках курса у вас все встанет на свои места и вы сможете создать эффективную стратегию выхода на новый неизведанный рынок.
				//- 	.card-col.card-col--pic
				//- 		.card-img
				//- 			img(src="img/photo4.webp", alt="photo")