.header-top#header
	.container
		.header-top-content
			a(href="#").logo 
				span Hong Kong Business School
			ul.header-nav
				li.active
					a(href="#banner").header-nav-item Главная
				li
					a(href="#course").header-nav-item О курсе
				li
					a(href="#forWhom").header-nav-item Для кого
				li
					a(href="#structure").header-nav-item Структура курса
				li
					a(href="#spikers").header-nav-item Спикеры
				li
					a(href="#cost").header-nav-item Стоимость
				li
					a(href="#reviews").header-nav-item Отзывы
				li
					a(href="#feedback").header-nav-item Контакты
			
			button.cmn-toggle-switch.cmn-toggle-switch__htx#nav-menu-toggle
				span toggle menu