.header-top
	.container
		.header-top-content
			a(href="#").logo 
				span Hong Kong Business School
			nav.header-nav
				a(href="#header").header-nav-item Главная
				a(href="#").header-nav-item О курсе
				a(href="#").header-nav-item Для кого
				a(href="#").header-nav-item Структура курса
				a(href="#").header-nav-item Спикеры
				a(href="#").header-nav-item Стоимость
				a(href="#").header-nav-item Отзывы
				a(href="#").header-nav-item Контакты
			
			button.cmn-toggle-switch.cmn-toggle-switch__htx#nav-menu-toggle
				span toggle menu