section.structure#structure
	.container
		.structure-content
			h2.section-title Структура курса
			.structure-block
				.structure-card
					.structure-card__title
						.title-icon
							svg#comp-k8u6p3qgsvgcontent(preserveaspectratio="xMidYMid meet" data-bbox="15.973 0 68.055 100.122" viewbox="15.973 0 68.055 100.122" xmlns="http://www.w3.org/2000/svg" data-type="color" role="img")
								g
									path(d="M82.528 9.702H51.497V1.5a1.5 1.5 0 10-3 0v8.202H17.473a1.5 1.5 0 00-1.5 1.5v58.219a1.5 1.5 0 001.5 1.5h17.232L19.097 97.843a1.5 1.5 0 102.595 1.504l16.48-28.426h10.324V92.91a1.5 1.5 0 103 0V70.921h10.335l16.484 28.427a1.5 1.5 0 002.596-1.506l-15.61-26.921h17.227a1.5 1.5 0 001.5-1.5V11.202a1.5 1.5 0 00-1.5-1.5zm-1.5 3v4.451H18.973v-4.451h62.055zm0 55.219H18.973V20.153h62.055v47.768z" fill="#fff" data-color="1")
						h3 Раздел 1. Подготовка
					.structure-card__desk
						ul
							li Китай: плюсы и минусы работы на рынке. Трудности, с которыми придётся столкнутся и возможности, которые могут открыться
							li Как подготовить стратегический план вывода бизнеса с наименьшими затратами? Маркетинговое Исследование рынка
				.structure-card
					.structure-card__title
						.title-icon
							svg#comp-k8u6gwgisvgcontent(preserveaspectratio="xMidYMid meet" data-bbox="3.041 5.636 92.857 74.545" viewbox="3.041 5.636 92.857 74.545" xmlns="http://www.w3.org/2000/svg" data-type="shape" role="img")
								g
									path(d="M69.55 58.903h-.016a1.502 1.502 0 01-1.273-.732L54.003 34.226a1.49 1.49 0 01-.103-.208 18.608 18.608 0 01-2.716-9.693c.018-10.311 8.414-18.689 18.72-18.689h.023a18.58 18.58 0 0113.226 5.501 18.595 18.595 0 015.453 13.238c0 3.378-.934 6.705-2.704 9.642a1.442 1.442 0 01-.134.277L70.823 58.199a1.508 1.508 0 01-1.273.704zm-12.831-25.98l12.862 21.601 13.476-21.555c.034-.092.077-.182.13-.267 1.582-2.527 2.418-5.407 2.418-8.328v-.002a15.614 15.614 0 00-4.578-11.119 15.607 15.607 0 00-11.104-4.618h-.02c-8.655 0-15.705 7.035-15.719 15.692 0 2.954.831 5.836 2.402 8.332.054.083.098.172.133.264z")
									path(d="M69.909 31.352h-.016a7.857 7.857 0 01-5.596-2.323 7.868 7.868 0 01-2.315-5.611 7.86 7.86 0 012.326-5.593 7.873 7.873 0 015.595-2.312h.008c4.365.005 7.914 3.563 7.91 7.932a7.864 7.864 0 01-2.326 5.597 7.862 7.862 0 01-5.586 2.31zm-.007-12.839a4.89 4.89 0 00-3.476 1.437 4.878 4.878 0 00-1.444 3.473 4.893 4.893 0 001.439 3.487 4.878 4.878 0 003.475 1.442h.01a4.882 4.882 0 003.471-1.434 4.88 4.88 0 001.444-3.475 4.929 4.929 0 00-4.914-4.929l-.005-.001zm6.419 4.931h.01-.01z")
									path(d="M94.399 80.181H4.541a1.5 1.5 0 01-1.379-2.09l16.345-38.242a1.501 1.501 0 011.379-.911h38.568a1.5 1.5 0 110 3H21.876L6.813 77.18h85.313L77.528 43.03a1.5 1.5 0 112.759-1.179L95.778 78.09a1.502 1.502 0 01-1.379 2.091z")
									path(d="M69.727 79.912a1.5 1.5 0 01-1.488-1.33c-.009-.074-.967-7.454-11.3-9.207-.961-.163-2.494-.312-4.27-.483-9.779-.946-18.699-2.174-20.419-6.747-1.11-2.95.512-5.199 1.814-7.006 1.426-1.978 1.896-2.842 1.168-4.083-.461-.786-1.929-1.426-3.349-2.045-2.78-1.212-6.588-2.872-6.608-7.422a1.5 1.5 0 011.493-1.507h.007a1.5 1.5 0 011.5 1.493c.011 2.42 1.824 3.385 4.808 4.686 1.86.811 3.783 1.649 4.738 3.278 1.785 3.044-.011 5.536-1.322 7.355-1.23 1.706-1.958 2.821-1.44 4.195 1.205 3.203 12.481 4.293 17.9 4.818 1.833.177 3.416.33 4.482.511 12.532 2.127 13.734 11.43 13.779 11.825a1.5 1.5 0 01-1.493 1.669z")

						h3 Раздел 2. Локализация
					.structure-card__desk
						ul
							li Оформление компании, налогообложение, бухгалтерия
							li Как привезти своих сотрудников (бизнес Визы) и как правильно нанимать местных специалистов
							li Патенты, лицензии
							li Стоимость жизни
				// item3
				.structure-card
					.structure-card__title
						.title-icon
							svg#comp-k8u6j0dgsvgcontent(preserveaspectratio="xMidYMid meet" data-bbox="7.846 4.531 84.309 90.937" viewbox="7.846 4.531 84.309 90.937" xmlns="http://www.w3.org/2000/svg" data-type="shape" role="img")
								g
									path(d="M92.155 30.246v-.004l-.001-.011a1.525 1.525 0 00-.04-.322c-.008-.034-.019-.066-.029-.099a1.506 1.506 0 00-.142-.325c-.014-.024-.024-.051-.039-.074-.027-.04-.06-.073-.09-.11-.024-.03-.046-.06-.072-.088a1.464 1.464 0 00-.251-.216l-.003-.003-.001-.001a.055.055 0 01-.008-.006L55.109 4.782a1.502 1.502 0 00-1.663 0l-12.802 8.535-.001.001-11.763 7.841a1.488 1.488 0 00-.442.295L8.525 34.73a1.538 1.538 0 00-.266.227c-.026.028-.048.058-.072.088-.03.037-.063.069-.09.11-.016.023-.025.049-.039.073a1.52 1.52 0 00-.141.324c-.011.035-.022.068-.03.103a1.467 1.467 0 00-.038.309c0 .008-.003.015-.003.022v33.77c0 .502.251.971.669 1.249l36.377 24.212.015.007c.105.068.22.119.34.16.03.01.059.02.089.028.124.033.252.056.386.056a1.452 1.452 0 00.475-.085 1.47 1.47 0 00.347-.163l.009-.004.006-.004.002-.001 44.924-29.95a1.5 1.5 0 00.668-1.248v-33.76c.002-.002.002-.005.002-.007zM54.279 7.832l33.67 22.411-10.649 7.1-33.169-22.745 10.148-6.766zm-8.556 50.563L12.051 35.984l17.445-11.63 33.17 22.745-16.943 11.296zm-4.282-42.004L74.61 39.136l-9.255 6.17-33.17-22.745 9.256-6.17zM66.812 47.94l8.905-5.937-.317 14.134-8.588 5.634V47.94zm-55.966-9.155l33.377 22.216v30.166L10.846 68.952V38.785zm36.377 52.38V61l16.589-11.06v14.609a1.502 1.502 0 001.5 1.5c.287 0 .574-.082.823-.246l11.57-7.591c.412-.271.665-.727.677-1.221l.381-17.019 10.392-6.928V63.21L47.223 91.165z")
									path(d="M41.479 68.453a1.5 1.5 0 00.833-2.749L25.126 54.265a1.5 1.5 0 00-1.663 2.498L40.65 68.202c.255.17.544.251.829.251z")
									path(d="M42.312 73.529l-9.842-6.551a1.5 1.5 0 10-1.663 2.498l9.842 6.551a1.496 1.496 0 002.08-.418 1.5 1.5 0 00-.417-2.08z")

						h3 Раздел 3. Упаковка бизнеса
					.structure-card__desk
						ul
							li Как правильно оформить Вашу услугу или продукт, чтобы его купили китайцы
							li Где и как рекламировать свой бизнес
				// item4			
				.structure-card
					.structure-card__title
						.title-icon
							svg#comp-k8u6sqkzsvgcontent(preserveaspectratio="xMidYMid meet" data-bbox="16.23 10.806 67.541 78.388" viewbox="16.23 10.806 67.541 78.388" xmlns="http://www.w3.org/2000/svg" data-type="shape" role="img")
								g
									path(d="M71.182 11.694a1.5 1.5 0 00-1.279-.884 1.471 1.471 0 00-1.376.725l-6.029 10.037a1.5 1.5 0 102.573 1.545l3.015-5.02c-1.091 9.994-6.258 19.954-14.562 27.831-9.838 9.332-22.55 14.471-35.794 14.471a1.5 1.5 0 100 3c14.016 0 27.461-5.432 37.859-15.294 8.736-8.286 14.214-18.788 15.453-29.383l2.238 5.002a1.5 1.5 0 001.981.757c.757-.338 1.096-1.226.757-1.982l-4.836-10.805z")
									path(d="M18.102 71.432a1.5 1.5 0 00-1.5 1.5v14.762a1.5 1.5 0 103 0V72.932a1.5 1.5 0 00-1.5-1.5z")
									path(d="M40.704 65.175a1.5 1.5 0 00-1.5 1.5v21.019a1.5 1.5 0 103 0V66.675a1.5 1.5 0 00-1.5-1.5z")
									path(d="M62.794 50.254a1.5 1.5 0 00-1.5 1.5v35.939a1.5 1.5 0 003 0V51.754a1.5 1.5 0 00-1.5-1.5z")
									path(d="M82.271 14.316a1.5 1.5 0 00-1.5 1.5v71.877a1.5 1.5 0 003 0V15.816a1.5 1.5 0 00-1.5-1.5z")
						h3 Раздел 4. Продажи
					.structure-card__desk
						ul
							li Особенности процесса продаж в Китае
							li Работа на выставках и мероприятиях
							li Как правильно презентовать свой проект потенциальным клиентам и партнёрам
							li Особенности делового этика Китая 
			.btn-wrapper
				button.blue-btn.blue-btn2(data-toggle="modal" data-target="#callForm") записаться на бесплатную консультацию
	.parallax