section.reviews#reviews
	.container
		.reviews-content
			h2.section-title Отзывы
			.reviews-block
				.reviews-item
					.reviews-author
						.rev-img
							img(src="img/rev1.webp", alt="photo")
						a(href="https://www.linkedin.com/in/dima-raketa-902846158/" target="_blank").social-link in
					.reviews-text
						h4 Дмитрий Ракитянский
						p.status CEO #[a(href="https://reputation.house/" target="_blank")  Reputation House] (Гонконг)
						.text 
							p Мы открыли компанию в Гонконге чуть более года назад. Наша основная деятельность: управление репутацией в интернете.
							p Решение запустить представительство в другой стране и расширить географию клиентов было авантюрным, но оно уже дает свои плоды, и мы ни разу не пожалели.
							p Первое время мы консультировались у большинства представленных в курсе экспертов. Если бы такие знания, которые собраны в курсе, были у нас еще год назад, то это помогло бы сэкономить много денег и времени и не набить "шишки" по незнанию.

				.reviews-item.reviews-text--reverse
					.reviews-text
						h4 Никита Сычев
						p.status Основатель компании #[a(href="https://www.d2r2.com/" target="_blank")  D2R2] (Гонконг)
						.text 
							p 2 года назад я приехал в Гонконг и влюбился в этот город и в Китай в целом. Мы всей компанией начали изучать другой рынок, другие маркетинговые инструменты, другой подход к дизайну.
							p За этот период мы сотрудничали с несколькими азиатскими компаниями и на практике убедились насколько там процесс работы, переговоров и просто потребительского поведения людей отличается от привычного нам.
							p Темы, собранные в курсе актуальны для каждого, кто интересуется этим рынком. Нигде я еще не встречал такой полноценной программы, обязательно пройду его сам, так как "повторение - мать учения", а мы планируем и дальше расти в азиатском регионе.

					.reviews-author
						.rev-img
							img(src="img/rev2.webp", alt="photo")
						a(href="https://www.facebook.com/nikitabanme https://www.facebook.com/nikitabanme " target="_blank").social-link in