.footer {
	padding-top: 40px;
	padding-bottom: 100px;
	background-color: @blue;

	.header-nav-item {
		font-size: 16px;
	}

	nav {
		border-right: 1px solid #fff;

		@media(max-width:1199px) {
			display: none;
		}
	}

	.footer-link {
		padding-left: 20px;

		@media(max-width:1199px) {
			border-bottom: 1px solid #fff;
			padding-left: 5px;
		}
	}
}

.footer-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #fff;

	@media(max-width:1199px) {
		border-bottom: 0px;
	}
}

.footer-copyright {
	text-align: center;
	padding-top: 30px;

	p:first-child {
		font-size: 14px;
	}

	p:last-child {
		font-size: 16px;
	}

	@media(max-width:1199px) {
		line-height: 1.5;
	}
}

#termsModal .modal-dialog {
	width: 95%;
	max-width: 1000px;

	button.close {
		width: 40px;
		height: 40px;
		color: @red;
		font-size: 30px;
	}

}

#termsModal .modal-content {
	padding-bottom: 60px;


	p {
		color: #2F2E2E;
		font-size: 25px;
		line-height: 1.3;

		@media(max-width:1439px) {
			font-size: 20px;
		}

		@media(max-width:1199px) {
			font-size: 18px;
		}

		@media(max-width:991px) {
			font-size: 16px;
		}
	}

	h3 {
		font-size: 35px;
		color: #2F2E2E;
		font-weight: 700;
		margin-bottom: 1em;
		margin-top: 1em;

		@media(max-width:1439px) {
			font-size: 32px;
		}

		@media(max-width:1199px) {
			font-size: 28px;
		}

		@media(max-width:991px) {
			font-size: 26px;
		}
	}

	ul {
		list-style-type: disc;
		color: #2F2E2E;
		margin-left: 30px;

		li {
			font-size: 24px;

			@media(max-width:1439px) {
				font-size: 20px;
			}

			@media(max-width:1199px) {
				font-size: 18px;
			}

			@media(max-width:991px) {
				font-size: 16px;
			}
		}
	}

	h3:last-of-type {
		margin-top: 3em;
	}

	h3:first-of-type {
		margin-top: .2em;
	}
}