extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	include ../sections/_banner.pug
	include ../sections/_course.pug
	include ../sections/_for-whom.pug
	include ../sections/_learn.pug
	include ../sections/_spikers.pug
	include ../sections/_cost.pug
	include ../sections/_reviews.pug
	include ../sections/_feedback.pug
	include ../sections/_footer.pug

	


block variables
	-var title = "Главная | HK Business School";
	