extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	include ../sections/_banner.pug
	include ../sections/_course.pug
	include ../sections/_for-whom.pug

	


block variables
	-var title = "Page";
	